<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         id="pt.iscde.javadoc.annotations"
         name="JavaDoc Annotations Extension"
         point="pa.iscde.javadoc.annotations">
         
         <unnamedTag 
         	class="pa.iscde.testextension.TagXXX">
         </unnamedTag>
         
         <namedTag
         	class="pa.iscde.testextension.TestAnot">
         </namedTag>
         
         <customTag 
         	class="pa.iscde.testextension.TagCustom">
         </customTag>
         
         <customTag 
         	class="pa.iscde.testextension.LinkTag">
         </customTag>
         
         <customTag 
         	class="pa.iscde.testextension.FinalTag">
         </customTag>
   </extension>
      <extension
            point="pa.iscde.javadoc.renderers">
         <render renderType="preVisit">
               <fieldRender
                     class="pa.iscde.testextension.JavaDocFieldRenderPreVisit">
               </fieldRender>
         </render>
         <render renderType="preVisit">
               <fieldRender
                     class="pa.iscde.testextension.JavaDocNamedFieldRenderPreVisit" name="id">
               </fieldRender>
         </render>
          <render renderType="postVisit">
               <fieldRender
                     class="pa.iscde.testextension.JavaDocFieldRenderPostVisit">
               </fieldRender>
         </render>
        <render renderType="preVisit">
	       <methodRender
                     class="pa.iscde.testextension.JavaDocMethodRenderPreVisit">
               </methodRender>
               
         </render>
                                    <render renderType="postVisit">
               <methodRender
                     class="pa.iscde.testextension.JavaDocMethodRenderPostVisit">
               </methodRender>
          
         </render>
                                    <render renderType="postVisit">
               <methodRender
                     class="pa.iscde.testextension.JavaDocNamedMethodRenderPostVisit" name="toString">
               </methodRender>
          
         </render>
                                         <render renderType="postVisit">
               <genericRender
                     class="pa.iscde.testextension.JavaDocGenericRenderPostVisit">
               </genericRender>
          
         </render>
         

         
      </extension>
</plugin>
